<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Alex/Documents/School/2013 Fall/CS 174A/Homework 1/Flying Bee/Flying Bee.xcodeproj</string>
</dict>
</plist>
